* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}
.main .main__para1:hover {
  background: red;
}
.main .main__para, .main .main__para1 {
  color: white;
  font-weight: 400;
}
.main .main__para:hover, .main .main__para1:hover {
  color: rgb(41, 31, 191);
}