// partial
@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}


// css variables
// :root {
//     --primary-color: blue;
//     --text-color: #dc291c;
// }

//  variable


// map
// $font-weights:("regular":400,
//     "medium": 600,
//     "bold":900);

// $font-sizes:("normal": 16px,
//     "medium": 32px,
//     "large":100px);

body {
    // background-color: var(--primary-color);
    // color: var(--text-color);
    background-color: $primary-color;

    // color: $text-color;
    // font-weight: map-get($font-weights, bold);
    // font-size: map-get($font-sizes, large);
}

// interpolation 

// mixins
@mixin flexCenter ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}

@mixin theme ($light-theme:true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%)
    }
}

@mixin mobile {
    @media (max-width:$mobile) {
        @content;
    }
}

.main {
    @include flexCenter(row);
    // width: 50%;
    width: 80% - 40%;
    // width: cal(80% - 40%);
    margin: 0 auto;

    @include mobile {
        flex-direction: column;
    }

    #{&}__para1 {
        @extend .main__para;

        &:hover {
            background: red;
        }
    }

    // to select main class as well as para class
    #{&}__para {
        color: $text-color;
        font-weight: weight(regular);


        &:hover {
            color: rgb(41, 31, 191);
        }


    }

    // &__para {
    //     color: $text-color;
    // }

    // p {
    //     color: $text-color;
    // }

}

.light {
    @include theme($light-theme:false);
}